<ion-header>
    <ion-toolbar>
        <ion-title>
            {{beer ? 'Beer Details' : 'Add Beer'}}
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <span ion-text color="primary" showWhen="ios,core">Cancel</span>
                <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <form #beerForm="ngForm" (ngSubmit)="save(beerForm.value)">
        <input type="hidden" name="href" [(ngModel)]="beer.href">
        <ion-row>
            <ion-col>
                <ion-list inset>
                    <ion-item>
                        <ion-input placeholder="Beer Name" name="name" type="text"
                                   required [(ngModel)]="beer.name" #name></ion-input>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col *ngIf="beer" text-center>
                <img src="{{beer.giphyUrl}}">
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                <button ion-button color="primary" full type="submit"
                        [disabled]="!beerForm.form.valid">Save</button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>
