<ion-header>
    <ion-navbar>
        <ion-title>Beer List</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="openModal()" color="primary">
                <ion-icon name="add-circle"></ion-icon>
                <ion-icon name="beer"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item *ngFor="let beer of beers" (click)="openModal({id: beer.id})">
            <ion-avatar item-left>
                <img src="{{beer.giphyUrl}}">
            </ion-avatar>
            <h3>{{beer.name}}</h3>
        </ion-item>
    </ion-list>
</ion-content>
